<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.dao.IClickDao">
	<resultMap id="BaseResultMap" type="com.news.pojo.Click">
		<result column="userid" property="userId" jdbcType="INTEGER" />
		<result column="newsid" property="newsId" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="createtime" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		userid, newsid, type, createtime
	</sql>
	
	<select id="findByClick" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM pub_click
		WHERE 1 = 1
		<if test="userId != null">
			AND userid = #{userId}
		</if>
		<if test="newsId != null">
			AND newsid = #{newsId}
		</if>
		<if test="type != null">
			AND type = #{type}
		</if>
	</select>
	
	<insert id="addClick">
		INSERT INTO pub_click
		(userid, newsid, type, createtime)
		VALUES
		(#{userId},#{newsId},#{type},#{createTime})
	</insert>
	
	<delete id="deleteClick">
	    DELETE FROM pub_click 
	    WHERE userid = #{userId}
	    AND newsid = #{newsId}
	    AND type = #{type}
	</delete>
	
</mapper>