<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.dao.ICommentDao">
	<resultMap id="BaseResultMap" type="com.news.pojo.Comment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="newsId" property="newsId" jdbcType="INTEGER" />
		<result column="userId" property="userId" jdbcType="INTEGER" />
		<result column="createtime" property="createTime" jdbcType="DATE" />
	</resultMap>
	
	<resultMap id="ResultMapEx" type="java.util.Map">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="createtime" property="createTime" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, content, newsid, userid, createtime
	</sql>
	
	<insert id="addOneComment" parameterType="com.news.pojo.Comment">
		insert into pub_comment (id, content, newsId, userId, createtime)
		values (#{id}, #{content}, #{newsId}, #{userId}, #{createTime})
	</insert>
	
	
	<select id="getCommentsByNewsId" resultMap="ResultMapEx">
		SELECT pu.username, pc.content, DATE_FORMAT(pc.createtime, '%Y-%c-%d %h:%i:%s') createtime
		FROM pub_comment pc
		LEFT JOIN pub_user pu ON pu.id = pc.userid
		WHERE pc.newsid = #{newsId}
		ORDER BY pc.createtime DESC
	</select>
	
</mapper>